<!-- extends表明此页面继承自HomePage中的base.html文件 -->
{% extends "base.html" %}


{% block header %}
    
{% endblock %}

{% block body %}
    <div class="container">
        <!-- 分割条 -->
        <div style="padding-top:50px"></div>

        <!-- 首页卡片式的快速入口，每行4列(row-cols-md-4) -->
        <div class="row row-cols-2 row-cols-md-4">
            <!-- 记录时间的快速入口 -->
            <div class="col mb-4">
                <div class="card shadow p-0 mb-0 bg-white rounded"
                    onclick="window.open('/RecordTime/NewRecord','_self')">      
                    <div class="card-header">
                        <h5 class="card-title">RECORD TIME</h5>
                        <p class="card-subtitle text-muted"><small>无论你做了什么，都记下来！</small></p>
                    </div>
                    <img src="/static/images/RecordTime/recordtimecard.jpg" class="card-img-top" alt="">
                </div>

            </div>

            <!-- 记录收支的快速入口 -->
            <div class="col mb-4">
                <div class="card shadow p-0 mb-0 bg-white rounded"
                    onclick="window.open('/RecordMoney/NewRecord','_self')">
                    <div class="card-header">
                        <h5 class="card-title">RECORD MONEY</h5>
                        <p class="card-subtitle text-muted"><small>无论你花了多少，都记下来！</small></p>
                    </div>
                    <img src="/static/images/RecordMoney/recordmoneycard.jpg" class="card-img-top" alt="">
                </div>
            </div>
        </div>
    </div>
{% endblock %}